/*------------Tady piš svoje stylování --------------*/

.social-media {
  display: flex;
  width: 40%;
  justify-content: flex-start;
  align-items: center;
}

.photos {
  display: flex;
  overflow-x: auto;
}
.date {
  position: relative;
}

.date__busy {
  position: absolute;
  top: 10px;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  width: 100%;
}

@media (max-width: 360px) {
  .social-media {
    width: 40%;
  }
}

@media (min-width: 576px) {
  .social-media {
    width: 30%;
  }

  .card--md {
    width: 49%;
  }

  .card--sm {
    width: 49%;
  }

  .newsletter__article {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .social-media {
    width: 20%;
  }

  .newsletter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .newsletter__article {
    width: 49%;
  }
}

@media (min-width: 1200px) {
  .social-media {
    width: 15%;
  }

  .card--md {
    width: 32%;
  }
  .card--sm {
    width: 32%;
  }

  .card--wide {
    order: -1;
    width: 32%;
  }

  .newsletter__article {
    width: 32%;
  }
}
